@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Roboto', sans-serif;
}

body{
    min-width: 1140px; /* this is the important part*/

}

.fullpage {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}

.container-login {
    width: 100%;
    min-height: 100%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: rgb(17, 17, 17);
}

.container-playlist {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color: #333;
}

.container-music {
    width: 100%;
    min-height: 100%;
    align-items: center;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.wrap-login {
    width: 390px;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    padding: 77px 55px 33px 55px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.wrap-playlist {
    width: 390px;
    background-color: rgb(17, 17, 17);
    border-radius: 10px;
    overflow: hidden;
    padding: 77px 55px 33px 55px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.playlist-form {
    width: 100%;
}
.login-form {
    width: 100%;
}

.playlist-form-title {
    display: block;
    font-size: 50px;
    color: #b721ff;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 50px;
}

.login-form-title {
    display: block;
    font-size: 30px;
    color: azure;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 50px;
}

.wrap-input {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 30px;
}

.wrap-input input{
    width: 100%;
}

.input {
    width: 100%;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    border: none;
    display: block;
    height: 45px;
    background-color: transparent;
    padding: 0 5px;
}

.focus-input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;

    top: -8px;
    left: 0;

    pointer-events: none;
    color: #adadad;
}

.focus-input::before {
    content: "";
    display: block; 
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;

    background: linear-gradient(to left, #21d4fd, #b721ff);
    background: -o-linear-gradient(to left, #21d4fd, #b721ff);
    background: -moz-linear-gradient(to left, #21d4fd, #b721ff);
    background: -webkit-linear-gradient(to left, #21d4fd, #b721ff);
}

.focus-input::after {
    font-size: 15px;
    color: #999999;
    line-height: 1.2;

    content: attr(data-placeholder);

    display: block;
    width: 100%;
    position: absolute;
    top: 16px;
    left: 0px;
    padding-left: 5px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

.input:focus {
    outline: 0;
}

.input:focus + .focus-input::after {
    top: -15px;
}

.input:focus + .focus-input::before {
    width: 100%;
}

.has-val + .focus-input::after {
    top: -15px;
}

.has-val + .focus-input::before {
    width: 100%;
}


.container-login-form-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 13px;
}


.login-form-btn {
    font-size: 15px;
    border:none;
    border-radius: 10px;
    color: #fff;

    line-height: 1.2;

    text-transform: uppercase;
    
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 50px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;

    background: linear-gradient(to left, #21d4fd, #b721ff);
    background: -o-linear-gradient(to left, #21d4fd, #b721ff);
    background: -moz-linear-gradient(to left, #21d4fd, #b721ff);
    background: -webkit-linear-gradient(to left, #21d4fd, #b721ff);
}

.login-form-btn:hover {
    cursor: pointer;
}

.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}


.txt1 {
    font-size: 14px;
    color: #adadad;
    line-height: 1.5;
    padding-right: 5px;
    text-decoration: none;
}

.txt2 {
    font-size: 14px;
    color: #6a7dfe;
    line-height: 1.5;
    text-decoration: none;
}

.alert {
    position: absolute;
    bottom: 33px;
    right: 127px;
}

.list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #ccc;
    padding: 10px;
}

.music-delete-btn {
    font-size: 15px;
    border:none;
    border-radius: 10px;
    color: #fff;

    line-height: 1.2;

    text-transform: uppercase;
    
    display: flex;
    justify-content: center;
    align-items: center;

    width: 130%;
    height: 50px;

    background-color: #b72626;
}

.music-update-btn {
    
    border:none;
    margin-right: 7px;
    border-radius: 10px;
    color: #fff;

    line-height: 1.2;

    text-transform: uppercase;
    
    display: flex;
    justify-content: center;
    align-items: center;

    width: 130%;
    height: 50px;

    background-color: #e78906;
}

.buttons {  
    width: 100px;
    margin: 0 auto;
    flex-direction: row;
    max-width: 100px;
    align-items: center;
    display: flex;
}

.list-group {
    margin-top: 52px;
    /* text-align: center; */
    justify-content: center;
    width: 626px;
    border-radius: 10px;
}

.list-group-item {
    background-color: #babbbd;
    flex-direction: row;
    display: flex;
}

.music-content {
    align-items: center;
    margin: 20px 60px;
    max-width: 350px;
}

.url {
    text-decoration: none; 
    overflow-wrap: break-word ;
}